---
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
UseTab: Never
TabWidth: 4
ContinuationIndentWidth: 4

# Line length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None

# Spacing
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: true

# Pointers
PointerAlignment: Left

# Comments
ReflowComments: true
SpaceBeforeParens: ControlStatements

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Preserve

# Other
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
