---
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
UseTab: Never
TabWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: false

# Line length
ColumnLimit: 100

# Braces
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Alignment
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignTrailingComments: true

# Spacing
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements

# Pointers
PointerAlignment: Left

# Comments
ReflowComments: true

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Preserve

# Other
MaxEmptyLinesToKeep: 2
