If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -x
    - c-header
    - -DCORE_CM7
    - -DSTM32H745xx
    - -DUSE_HAL_DRIVER
    - -DDEBUG
    - -Iinclude
    - -Isrc
    - -Ibsp
    - -std=gnu11

---
Index:
  Background: Build
