# Copy to .env and set for your machine. Used by .vscode/launch.json.
# Windows MSYS2 UCRT64 example:

OPENOCD_PATH=C:\msys64\ucrt64\bin\openocd.exe
GDB_PATH=C:\msys64\ucrt64\bin\gdb-multiarch.exe
ARM_TOOLCHAIN_PATH=C:\msys64\ucrt64\bin
OBJDUMP_PATH=C:\msys64\ucrt64\bin\arm-none-eabi-objdump.exe
BUILD_SOURCE_PATH=c:/github/ash7
